login: &login
  adapter: mysql
  encoding: utf8
  pool: 5
  username: root
  password:
  host: localhost

development:
  <<: *login
  database: redcipe_development

test:
  <<: *login
  database: redcipe_test

production:
  <<: *login
  database: redcipe
